header,
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Signika Negative", sans-serif;
}

#turnOn {
  width: 80px;
  height: 25px;
  color: #0ec521;
  border: 2px solid #b0ccc9;
  border-radius: 10px;
  font-family: "Signika Negative", sans-serif;
}

#turnOff {
  width: 80px;
  height: 25px;
  color: #c51016;
  border: 2px solid #b0ccc9;
  border-radius: 10px;
  font-family: "Signika Negative", sans-serif;
}
